<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Library | {% block title %} {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="vw-100" style="font-family: 'Nunito', sans-serif; overflow-x: hidden;">
  <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-2">
      <div class="container-fluid d-flex w-100">
        <a class="navbar-brand" href="/">
          <h2 class="fs-2 fw-bold">Library</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-dropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-dropdown">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
            {% if not current_user.is_authenticated %}
            <li class="nav-item ms-lg-4">
              <a class="btn btn-outline-secondary" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item ms-lg-4 me-lg-2">
              <button 
                class="rounded-3 nav-link text-white fw-bold d-flex flex-row align-items-center px-2 border-0 bg-dark"
              >
                <p class="mb-0">Hi, {{ current_user.name }}</p>
              </button>
            </li>
            <li class="nav-item mt-2 mt-lg-0">
              <a class="btn btn-outline-secondary me-2" href="/auth/logout">Log out</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="d-flex flex-column align-items-center justify-content-center container-fluid">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>